* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
.main {
    border: 1px solid;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}
.left, .right {
    height: 100vh;
    border: 1px solid;
    display: flex;

    align-items: center;
    justify-content: center;
}
.left {
    width: 80vw;
    display: flex;
    gap: 20px;
}
.right {
    width: 20vw;
    flex-direction: column;
    gap: 20px;
}
.editor, #saved-work {
    height: 80vh;
    width: 40vw;
    border: 1px solid;
    padding: 20px;
}